.contest-page {
    text-align: center;
    margin: 30px;
    color: rgb(0, 0, 0);
}

.contest-page img {
    width: 85%;
    margin-bottom: 20px;
    margin-top: 15px;
    margin: auto;
}

.contest-page .contest-container {
    margin: 50px;
}

.contest-page .contest-container a {
    font-size: 40px;
    color: rgb(55, 70, 103);
}