.raffle-popup-container {
    text-align: center;
    display: block;
    margin: auto; 
    width: 100%;
    position: fixed;
    z-index: 1;
}

.raffle-popup {
    position: relative;
    background-color: rgb(190, 190, 190);
    text-align: center;
    margin: auto;
    margin-top: 14vh;
    border-radius: 20px;
    width: 60%;
    height: 300px;
    opacity: 85%;
}

.raffle-popup a {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px
}

.raffle-popup h2 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
}

.raffle-popup .button {
    top: 0;
    float: right;
	padding: 15px;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
    font-size: 16px;
    margin: -3px -3px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: none;
}

.raffle-popup .button:hover{
	background-color: rgb(161, 161, 161);
}

@media screen and (max-width: 750px) {
    .raffle-popup a {
        font-size: 55px
    }
    
    .raffle-popup h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 730px) {
    .raffle-popup a {
        font-size: 50px
    }
    
    .raffle-popup h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 640px) {
    .raffle-popup a {
        font-size: 45px
    }
    
    .raffle-popup h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .raffle-popup a {
        font-size: 48px
    }
    
    .raffle-popup h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 550px) {
    .raffle-popup a {
        font-size: 24px
    }
    
    .raffle-popup h2 {
        font-size: 12px;
    }
}