/*CSS Stylesheet Imports*/
/* components */
@import url(./header.css);
@import url(./footer.css);
@import url(./carousel.css);
@import url(./sponsors.css);
@import url(./photogallery.css);
@import url(./festival-statistics.css);
@import url(./landing.css);
@import url(./archive-dropdown.css);
@import url("./under-construction.css");
@import url("./raffle-popup.css");

/* pages */
@import url(./homepage.css);
@import url(./aboutpage.css);
@import url(./festival-schedule.css);
@import url(./homepage.css);
@import url(./musicians.css);
@import url(./contest.css);
@import url(./raffles.css);
@import url(./seminar.css);
@import url(./menu.css);
@import url(./vendors.css);
@import url(./directions.css);
@import url(./donations.css);
@import url(./videos.css);
@import url(./contact.css);
@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

h1 {
  font-family: Cambria, Cochin;
  color: rgb(72, 113, 155);
  font-size: 55px;
}

p {
  color: #000000;
  /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
  font-family: Roboto;
  font-size: 23px;
}

.app {
  padding-top: 170px;
  transition: all 250ms ease-in;
}
.sticky {
  padding-top: 120px;
}
