.videos-page h1 {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}


.videos-page {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.videos-page .video-container {
  margin: 15px;
  display: block;
  height: 300px;
  width: 470px;
  margin-bottom: 50px;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  box-shadow: 5px 5px 16px grey;
}

.videos-page .video-container video {
  width: 400px;
  height: 250px;
  object-fit:contain;
  margin: auto;
}

@media (max-width: 540px) {
  .videos-page .video-container {
    height: 250px;
    width: 420px;
  }
  .videos-page .video-container video {
    width: 350px;
    height: 230px;
  }
}

@media (max-width: 500px) {
  .videos-page .video-container {
    height: 200px;
    width: 370px;
  }
  .videos-page .video-container video {
    width: 300px;
    height: 180px;
  }
}

@media (max-width: 450px) {
  .videos-page .video-container {
    height: 180px;
    width: 350px;
  }
  .videos-page .video-container video {
    width: 280px;
    height: 160px;
  }
}

@media (max-width: 430px) {
  .videos-page .video-container {
    height: 160px;
    width: 330px;
  }
  .videos-page .video-container video {
    width: 260px;
    height: 140px;
  }
}

@media (max-width: 400px) {
  .videos-page .video-container {
    height: 160px;
    width: 300px;
  }
  .videos-page .video-container video {
    width: 260px;
    height: 140px;
  }
}

@media (max-width: 360px) {
  .videos-page .video-container {
    height: 160px;
    width: 280px;
  }
  .videos-page .video-container video {
    width: 240px;
    height: 140px;
  }
}