@media only screen and (min-width: 900px) {
    .about {
        flex-direction: row;
    }
}

@media only screen and (max-width: 900px) {
    .about {
        flex-direction: column;
    }
}

.about {
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 140px;
    display: flex;
    max-width: 1300px;
    margin: auto;
}

.about .left {
    width: 100%;
}

.about .left h1 {
    padding-bottom: 30px;
    text-align: center;
}

.about .left .paragraph p {
    padding-bottom: 13px;
    width: 90%;
    margin: auto;
    text-indent: 50px;
    line-height: 150%;
}

.about .right {
    width: 100%;
    margin: auto;
}

.about .right h1 {
    padding-bottom: 35px;
    text-align: center;
}
.about .right .logo {
    text-align: center;
    display: block;
}

.about .right .logo img {
    width: 200px;
    padding: 5px;
    height: auto;
    box-shadow: 2px 2px 4px gray;
}

