.about {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.about .left {
    width: 55%;
    text-align: center;
}

.about .left h1 {
    font-size: 25px;
    padding-bottom: 30px;
}

.about .left .paragraph p {
    padding-bottom: 13px;
    width: 80%;
    margin: auto;
}

.about .right {
    width: 40%;

}

.about .right h1 {
    font-size: 25px;
    padding-bottom: 30px;
    text-align: center;
}
.about .right .logo-container {
    text-align: center;
    display: block;
}

.about .right .logo-container .logo {
    width: 200px;
    padding: 5px;
    height: auto;
    box-shadow: 2px 2px 4px gray;
}

.about .right .logo-container .logo img {
    width: 200px;
    padding: 5px;
    height: auto;
    box-shadow: 2px 2px 4px gray;
}

.about .right .logo-container .logo span {
    position: absolute;
}