.carousel-container {
    width: 100%;
}

.carousel-container .carousel {
    width: 100%;
    overflow: hidden;
    display: none;
    position: relative;
    box-shadow: 0px 4px 6px grey;
/*    transition: .3s ease;*/
}

.carousel-container .carousel.active {
    display: block;
}

.carousel-container .carousel img {
    width: 100%;
    box-shadow: 0px 4px 6px grey;
}

.carousel-container .carousel-overlay-left {
    left: 0;
    width: 15%; 
    height: 100%;
    position: absolute;
    z-index: 1;
}

.carousel-container .carousel-overlay-right {
    right: 0;
    width: 15%; 
    height: 100%;
    position: absolute;
    z-index: 1;
}

.carousel-container .carousel-overlay-left:hover {
    background-color: black;
    opacity: .2;
    box-shadow: 30px 0px 5px 0px;
}

.carousel-container .carousel-overlay-right:hover {
    background-color: black;
    opacity: .2;
    box-shadow: -30px 0px 5px 0px;
}