.directions-page {
    margin: 30px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .directions-page .directions-container {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 800px) {
    .directions-page .directions-container {
        display: flex;
        flex-direction: column;
    }
}

.directions-page h1 {
    padding-bottom: 10px;
}

.directions-page iframe {
    width: 95%;
    margin: auto;
    height: 600px;
    box-shadow: 0px 5px 5px 0px grey;
    border: 0;
}

.directions-page a {
    margin: 50px;
}

.directions-page .directions-container h2 {
    padding-bottom: 10px;
    font-weight: 600;
}

.directions-page .directions-container ol {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px;
}

.directions-page .directions-container ol li {
    margin: auto;
    padding: 10px;
    line-height: 30px;
    color: #404040;
}