.footer-component {
    height: 300px;
    box-shadow: -5px -5px 10px grey;
    background-color: #C7E689;
    display: inline-flex;
    width: 100%;
}

.footer-component .footer-1 {
    width: 50%;
    text-align: center;
    margin-top: 5%;
}

.footer-component .footer-img {
    width: 40%;
    margin: auto;
}

.footer-component .footer-img img {
    width: 100%;
}

.footer-component .footer-1 p {
    font-size: 16px;
    margin: 3px;
}

.footer-component .footer-1 a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 3px;
}

.footer-component .footer-2 {
    width: 50%;
    text-align: center;
    margin-top: 5%;
}

.footer-component .footer-2 p {
    font-size: 16px;
    margin: 10px;
    margin: 3px;
}

.footer-component .footer-2 a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    margin: 3px;
}