/*Desktop View
/*Header
/*CSS

/* Top Header CSS*/
nav.desktop-view div.top-header {
    background-color: #C7E689;
    height: 50px;
    width: 100%;
    border-bottom: solid 1px black;
    display: block;
    position: relative;
}

/* Top Header Items left*/
nav.desktop-view div.top-header div.top-header-items-left {
    display: inline;
    float: left;    
}

/* Back to Main */
nav.desktop-view div.top-header div.top-header-items-left div.back-to-main {
    padding-top: 15px;
}

nav.desktop-view div.top-header div.top-header-items-left div.back-to-main a{
    text-decoration: none;
    padding-left: 10px;
}
/* Top Header Items Right*/
nav.desktop-view div.top-header div.top-header-items-right {
    float: right;
    padding-top: 10px;
}
/* Translation Button*/
nav.desktop-view div.top-header div.top-header-items-right div.translation-button button.translation-button {
    color: red;
    padding: 6px 10px 6px 10px;
    margin-right: 3px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
}

nav.desktop-view div.top-header div.top-header-items-right div.translation-button button.translation-button:hover {
    background-color: #e6e6e6;
}
  
nav.desktop-view div.top-header div.top-header-items-right div.translation-button button.translation-button:active {
    background-color: #cccccc;
}
/* Navagation CSS*/
nav.desktop-view div.main-header {
    width: 100%;
    background-color: #C7E689;
    height: 100px;
}

nav.desktop-view div.is-sticky.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav.desktop-view div.main-header ul {
    list-style: none;
    float: right;
}


nav.desktop-view div.main-header ul li {
    padding-top: 30px;
    float: left;
}

nav.desktop-view div.main-header ul li p {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 60px;
    cursor: pointer;
}

nav.desktop-view div.main-header ul li p:hover {
    color: white;
    transition: .2s;
}

nav.desktop-view div.main-header ul li p a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav.desktop-view div.main-header ul li p a:hover {
    color: white;
    transition: .2s;
}

/*Dropdown*/

nav.desktop-view div.main-header ul li ul {
    display: none;
    position: absolute;
    background-color: #C7E689;
    min-width: 100px;
}

nav.desktop-view div.main-header ul li ul {
    width: 130px;
}

nav.desktop-view div.main-header ul li:hover ul {
    display: block;

} 

nav.desktop-view div.main-header ul li ul li{
    width: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}    

nav.desktop-view div.main-header ul li ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-left: 5px;

}


nav.desktop-view div.main-header ul li ul li:hover {
    background-color: rgba(149, 185, 77, 0.431)
}  

/*logo*/
nav.desktop-view div.logo img {
    width: 200px;
    padding-top: 2px;
    padding-left: 40px;
    float: left;
}







/*Mobile View
/*Header
/*CSS

/* Top Header CSS*/
nav.mobile-view div.top-header {
    background-color: #C7E689;
    height: 50px;
    width: 100%;
    border-bottom: solid 1px black;
}

/* Top Header Items left*/
nav.mobile-view div.top-header div.top-header-items-left {
    display: inline;
    float: left;
    padding: 7px;
}

/* Back to Main */
nav.mobile-view div.top-header div.top-header-items-left div.back-to-main {
    padding: 10px;
}

nav.mobile-view div.top-header div.top-header-items-left div.back-to-main a{
    text-decoration: none;
}
/* Top Header Items Right*/
nav.mobile-view div.top-header div.top-header-items-right {
    float: right;
    padding: 10px;
}
/* Translation Button*/
nav.mobile-view div.top-header div.top-header-items-right div.translation-button button.translation-button {
    color: red;
    padding: 6px 10px 6px 10px;
    margin-right: 3px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
}

/* Navagation CSS*/
nav.mobile-view div.main-header {
    width: 100%;
    background-color: #C7E689;
    height: 75px;
    top: 0;
    left: 0;
}

nav.mobile-view div.is-sticky.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #C7E689;
    z-index: 9999;
}

nav.mobile-view div.main-header ul.openSideNav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #C7E689;
    box-shadow: 2px 0px 10px 0px black;
    transition: width 1s;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
}

nav.mobile-view div.main-header ul.closeSideNav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0px;
    background-color: #C7E689;
    transition: width 1s;
    position: fixed;
}

nav.mobile-view div.main-header ul.closeSideNav li{
    display: none;
}

nav.mobile-view div.main-header ul li {
    float: left;
    cursor: pointer;
    background-color: #f2f2f2;
    border-top: 1px solid;
}

nav.mobile-view div.main-header ul li p {
    user-select: none;
}

nav.mobile-view div.main-header ul li:last-child {
    border-bottom: 1px solid;
}

nav.mobile-view div.main-header ul li p {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}

nav.mobile-view div.main-header ul li a {
    text-decoration: none;
    color: black;
}

/*Dropdown*/

nav.mobile-view div.main-header ul li ul {
    display: none;
    background-color: #C7E689;
    list-style: none;
    position: relative;
    width: 100%;
}

nav.mobile-view div.main-header ul li.active  {
    background-color: #cccccc;
    transition: background-color .5s;
} 

nav.mobile-view div.main-header ul li.active ul {
    display: flex;
    flex-direction: column;
} 

nav.mobile-view div.main-header ul li ul li {
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav.mobile-view div.main-header ul li ul li a {
    padding-left: 20px;
}



/*mobile icon*/
nav.desktop-view span {
    display: none;
}  

nav.mobile-view span.open {
    display: block;
    font-size: 50px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}  

nav.mobile-view span.close {
    display: block;
    font-size: 50px;
    float: right;
    padding-left: 200px;
    margin-right: 10px;
    cursor: pointer;
}  

/*logo*/
nav.mobile-view div.logo {
    padding-left: 25px;
    float: left;
}

nav.mobile-view div.logo img {
    width: 150px;
}