.slideshow-container {
    width: 100%;
    height: 700px;
}

.slideshow-container .slides {
    width: 100%;
    display: none;
}

.slideshow-container .slides.active {
    width: 100%;
    display: block;
}

.slideshow-container .slides img {
    width: 100%;
    height: 700px;
}