/*SponsorsPage*/

.sponsors-page {
    padding: 30px;
    text-align: center;
}

.sponsors-page h1 {
    padding-bottom: 10px;
}


.sponsors-page .left .main-sponsor-container .main-sponsor {
    margin: auto;
}

.sponsors-page .left .main-sponsor-container .main-sponsor img {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: auto;
    box-shadow: 4px 4px 8px gray;
}

.sponsors-page .right  {
    text-align: center;
    margin: auto;
    width: 90%;
}

.sponsors-page .right .other-sponsor-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sponsors-page .right .other-sponsor-container .other-sponsor {
    width: 100%;
    justify-content: center;
}

.sponsors-page .right .other-sponsor-container .other-sponsor img {
    margin: 10px;
    width: 50%;
    max-width: 300px;
    box-shadow: 3px 3px 6px gray;
}









/*Sponsors Component*/
@media only screen and (max-width: 1300px) {
    .sponsors {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .sponsors .right .other-sponsor-container {
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }

    .sponsors .right {
        width: 100%;
    }
}

@media only screen and (min-width: 1300px) {
    .sponsors {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        text-align: center;
    }

    .sponsors .left {
        padding-left: 40px;
    }

    .sponsors .right .other-sponsor-container {
        width: 90%;
    }

    .sponsors .right {
        width: 50%;
    }
}

.sponsors .left {
    width: 100%;
    text-align: center;
    margin: auto;
}

.sponsors .left .main-sponsor {
    width: 100%;
    text-align: center;
}

.sponsors .left .main-sponsor-container h1 {
    padding-bottom: 10px;
}

.sponsors .left .main-sponsor img {
    width: 540px;
    height: auto;
    padding: 30px;
    box-shadow: grey 2px 5px 7px;
}

.sponsors .right .other-sponsor-container {
    border: lightgray 1px solid;
    box-shadow: 5px 5px 10px grey;
    padding: 25px;
    margin-top: 20px;
    overflow: hidden;
}

.sponsors .right .other-sponsor-container h1 {
    padding-bottom: 10px;
}

.sponsors .right .other-sponsor-container .other-sponsor {   
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
}

.sponsors .right .other-sponsor-container .other-sponsor .sponsor-image {
    display: flex;
    width: calc(160px * 8);/*number multiplied by 160 is number of images times 2*/
    animation: scroll 12s linear alternate infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-160px * 4));/*The number multiplied by -160 is number of images*/
    }
}

.sponsors .right .other-sponsor-container .other-sponsor .sponsor-image img {
    width: 160px;
    padding: 10px;
    margin: auto;
    height: 80px;
    box-shadow: grey 1px 1px 2px;
}

.sponsors .right .other-sponsor-container .other-sponsor .sponsor-image img:hover {
    width: 170px;
    height: 90px;
}








































/*Sponsors Component*/
/*
@media only screen and (max-width: 1300px) {
    .sponsors {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .sponsors .right .other-sponsor-container {
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }

    .sponsors .right {
        width: 100%;
    }
}

@media only screen and (min-width: 1300px) {
    .sponsors {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        text-align: center;
    }

    .sponsors .left {
        padding-left: 40px;
    }

    .sponsors .right .other-sponsor-container {
        width: 90%;
    }

    .sponsors .right {
        width: 50%;
    }
}

.sponsors .left {
    width: 100%;
    text-align: center;
    margin: auto;
}

.sponsors .left .main-sponsor {
    width: 100%;
    text-align: center;
}

.sponsors .left .main-sponsor-container h1 {
    padding-bottom: 10px;
}

.sponsors .left .main-sponsor img {
    width: 400px;
    height: auto;
    padding: 30px;
    box-shadow: grey 2px 5px 7px;
}

.sponsors .right .other-sponsor-container {
    border: lightgray 1px solid;
    box-shadow: 5px 5px 10px grey;
    padding: 25px;
    margin-top: 20px;
    overflow: hidden;
}

.sponsors .right .other-sponsor-container h1 {
    padding-bottom: 10px;
}

.sponsors .right .other-sponsor-container .other-sponsor {
    overflow-x: scroll; 
	display: flex;
}

.sponsors .right .other-sponsor-container .other-sponsor img {
    width: 160px;
    padding: 10px;
    margin: auto;
    height: 80px;
    box-shadow: grey 2px 2px 5px;
}


*/
