@media only screen and (max-width: 1300px) {
    .sponsors {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        align-content: center;
    }
}

@media only screen and (min-width: 1300px) {
    .sponsors {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        text-align: center;
    }
}


.sponsors .main-sponsor {
    width: 100%;
}
.sponsors .main-sponsor img {
    width: 500px;
    height: auto;
}

.sponsors .diamond-sponsor-container {
    width: 100%;
}

.sponsors .diamond-sponsor-container .diamond-sponsor {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.sponsors .diamond-sponsor-container .diamond-sponsor img {
    width: 100px;
    padding: 10px;
    height: 100px;
}