/*CSS Stylesheet Imports*/
/* components */
@import url(./header.css);
@import url(./footer.css);
@import url(./slideshow.css);
@import url(./sponsors.css);

/* pages */
@import url(./homepage.css);
@import url(./aboutpage.css);
@import url(./festival-schedule.css);
@import url(./homepage.css);
@import url(./musicians.css);
@import url(./contest.css);
@import url(./raffles.css);
@import url(./menu.css);

* {
    padding: 0;
    margin: 0;
    font: Helvetica;
}

h1 {
    color: #e6e600;
}