.contest-page {
    text-align: center;
    margin: 30px;
}

.contest-page img {
    width: 80%;
    margin-bottom: 15px;
    margin-top: 15px;
    margin: auto;
}

.contest-page .contest-container {
    margin: 7px;
}

.contest-page .contest-container a {
    font-size: 30px;
    text-decoration: none;
}