.landing {
  position: relative;
}

.video {
  margin: auto auto;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

.active {
  display: flex;
  justify-content: center;
}

.video > video {
  z-index: 1;
  width: 100%;
  margin-top: 120px;
}

.video > span {
  left: 20%;
  top: 5%;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 40px;
  position: absolute;
  opacity: 1 !important;
  cursor: pointer;
  z-index: 1;
}

.video__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: grey;
  opacity: 0.7;
}

.background__wrapper {
  position: relative;
  width: 100%;
}

.landing__header__container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
}

.landing__header {
  text-transform: uppercase;
  font-size: 80px;
  font-family: "Roboto";
}
.landing__header > span {
  margin-left: 160px;
}
.landing__header--en {
  font-size: 56px;
  text-align: center;
}

.landing__subheader {
  font-size: 40px;
  letter-spacing: 5px;
  font-family: "Roboto";
  text-align: center;
}

.landing__address {
  text-align: center;
}/*
 .background__wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  backdrop-filter: blur(3px);
  pointer-events: none;
} */

.foreground__wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translatex(-50%);
}

.foreground__video {
  max-width: 1200px;
}

.rewards {
  display: flex;
  flex-direction: column;
  padding: 160px 80px;
}

.reward__container {
  width: 100%;
  display: flex;
}
.reward,
.reward__image--wrapper {
  width: 50%;
}
.reward {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 80px;
}

.reward__image {
  width: 100%;
}

h3 {
  font-size: 30px;
  margin-bottom: 24px;
}
.background__image {
  width: 100%;
  background-image: url("https://hvmatl.s3.us-east-2.amazonaws.com/gallery/LHMT_img/LHMT2021/Carousel/Poster/LHMT-2021-FP1-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed ;
  height: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.background__image img {
  height: 550px;
  z-index: 990;
  position: absolute;
  margin-top: 20px;
}

.background__image .glow {
  position: absolute;
  top: 20%;
  left: 50%;
  box-shadow: 0px 130px 200px 170px white;
}  

.background__image .text1 {
  transform: scaleX(0.7);
  font-family: Bradley Hand, cursive;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  position: absolute;
  color: #ffe41e;
  line-height: 1;
  margin-top: 580px;
}

.background__image .text2 {
  transform: scaleX(1.1);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  position: absolute;
  color: #ffffff;
  letter-spacing: -2px; 
  margin-top: 700px;
}

@media (max-width: 1231px) {
  .background__image {
    background-image: none;
    background-color: rgba(237, 244, 253);
  }
  .background__image .glow {
    box-shadow: none;
  }  
  .background__image .text1 {
    transform: scaleX(0.7);
    font-family: Bradley Hand, cursive;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    position: absolute;
    color: rgb(255, 0, 0);
    line-height: 1;
    margin-top: 580px;
  }
  
  .background__image .text2 {
    transform: scaleX(1.1);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    position: absolute;
    color: rgb(76, 76, 76);
    letter-spacing: -2px; 
    margin-top: 700px;
  }
}

@media (max-width: 850px) {
  .background__image {
    background-image: none;
    background-color: rgba(237, 244, 253);
    background-size: 100% 100%;
  }
  .background__image .glow {
    box-shadow: none;
  }  
  .background__image .text1 {
    transform: scaleX(0.7);
    font-family: Bradley Hand, cursive;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: absolute;
    color: rgb(255, 0, 0);
    line-height: 1;
    margin-top: 580px;
  }
  
  .background__image .text2 {
    transform: scaleX(1.1);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    position: absolute;
    color: rgb(76, 76, 76);
    letter-spacing: -2px; 
    margin-top: 700px;
  }
}

@media (max-width: 600px) {
  .background__image {
    background-image: none;
    background-color: rgba(237, 244, 253);
    background-size: 100% 100%;
  }
  .background__image .glow {
    box-shadow: none;
  }  
  .background__image .text1 {
    transform: scaleX(0.7);
    font-family: Bradley Hand, cursive;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    position: absolute;
    color: rgb(255, 0, 0);
    line-height: 1;
    margin-top: 580px;
  }
  
  .background__image .text2 {
    transform: scaleX(1.1);
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    position: absolute;
    color: rgb(76, 76, 76);
    letter-spacing: -2px; 
    margin-top: 700px;
  }
}

@media (max-width: 1231px) {

  .video > video {
    margin-top: 40px;
    width: 800px;
    height: 400px;
  }

  .video > span {
    left: 5%;
  }
  .landing__header {
    margin-left: 48px;
    font-size: 60px;
  }

  .landing__header > span {
    margin-left: 120px;
  }
  .landing__header--en {
    font-size: 48px;
  }

  .landing__subheader {
    font-size: 32px;
  }

  .landing__address {
    font-size: 18px;
  }

  .reward__container{
    margin-top: 60px;
  }
  .landing{
    margin-bottom: unset;
  }
}

@media (max-width: 850px) {   
  .landing__address {
    font-size: 14px;
    margin-right: 4px;
  }
  .video > video {
    width: 600px;
    height: 300px;
  }

  .video> span{
    left: 5%;
  }
  .reward__container {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .rewards {
    padding: 80px 20px;
  }

  .reward {
   padding: unset;
    width: 100%;
    margin-bottom: 24px;
  }
  .reward__header {
    font-size: 28px;
    text-align: center;
  }

  .reward__para {
    font-size: 24px;
    text-align: center;
  }

  .reward__image--wrapper {
    width: 100%;
  }
}

@media(max-width:650px){
  .video > video {
    width: 500px;
    height: 250px;
  }

  .video > span {
    left: 2.5%;
  }
}

@media (max-width: 420px) {
  .video > video {
    width: 450px;
    height: 300px;
  }

  .video > span {
    left: 2.5%;
  }

  .landing__header {
    font-size: 28px;
    margin-left: 8px;
  }

  .landing__header > span {
    margin-left: 60px;
  }
  .landing__header--en {
    font-size: 24px;
  }

  .landing__subheader {
    font-size: 12px;
  }

  .landing__address {
    font-size: 14px;
    margin-right: 4px;
  }

  .background__wrapper > a {
    display: block;
    min-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .reward__container {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .rewards {
    padding: 80px 20px;
  }

  .reward {
   padding: unset;
    width: 100%;
    margin-bottom: 24px;
  }
  .reward__header {
    font-size: 20px;
    text-align: center;
  }

  .reward__para {
    font-size: 18px;
    text-align: center;
  }

  .reward__image--wrapper {
    width: 100%;
  }
}
